.productoDetalle {
  display: flex;
  width: 80vw;
  justify-content: space-around;
  align-items: flex-start;
}

.containerDetalle {
  min-width: 33%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.detalle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  min-width: 30vw;
  gap: 10px;
  margin-bottom: 1rem;
}

.row {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  margin-top: auto;
}

.precio {
  font-size: 20px;
  font-weight: 700;
}

.imageDetail {
  width: 600px;
  height: auto;
}

p.descripcion {
  text-align: left;
}
