.carrito {
  min-width: 50vw;
  background-color: var(--color-surface);
  border-radius: 20px;
  padding: 0 1rem;
  overflow-y: auto;
  transition: all 0.3s ease;
  position: relative;
}

.enCarrito {
  border-bottom: 1px solid var(--color-border);
  padding: 10px;
  font-size: 15px;
  width: 100%;
}

.enCarrito h3 {
  text-align: left;
}

.carrito .container {
  flex-direction: column;
}

.total {
  font-weight: 700;
  font-size: 25px;
}

.cantidad {
  min-width: 40%;
}

.cantidad > * {
  width: 50%;
}

.amountBtn {
  height: 30px;
  width: 30px;
  background-color: transparent;
  color: var(--color-text);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-border);
}

.contDetalle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actionsCart {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0 1rem 0;
  align-items: center;
}

.vaciarBtn {
  font-size: 12px;
  background-color: transparent;
  margin: 0;
  color: var(--color-text);
}

.pagar {
  margin: 0;
}
