.carrito {
  min-height: 50vh;
  min-width: 50vw;
  background-color: var(--color-primary);
  border-radius: 20px;
  padding: 1rem;
  overflow-y: auto;
  transition: all 0.3s ease;
}

.enCarrito {
  border: 1px solid var(--color-border);
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  width: 100%;
}

.enCarrito h3 {
  text-align: left;
}

.carrito .container {
  flex-direction: column;
}

.total {
  margin-top: 1rem;
  padding: 1rem;
  background-color: var(--color-secondary);
  color: var(--color-bg);
  font-weight: 600;
}

.cantidad {
  min-width: 40%;
}

.cantidad > * {
  width: 50%;
}

.amountBtn {
  height: 30px;
  width: 30px;
  background-color: transparent;
  color: var(--color-text);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-border);
}

.contDetalle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
