.about {
  width: 70vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  border: 1px solid var(--color-border);
  border-radius: 10px;
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.about {
  text-align: left;
}

h2 {
  font-size: 40px;
}

ul {
  list-style-type: none;
}
