header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 30px;
  width: 100vw;
  z-index: 2;
  background-color: var(--color-bg);
}

.mainTitle {
  font-size: 30px;
}
