header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  width: 100vw;
  z-index: 2;
  background-color: var(--color-bg);
  height: 5vh;
}
