nav {
  display: flex;
  gap: 10px;
}

a,
.log {
  color: var(--color-text-muted);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover,
.log:hover {
  color: var(--color-secondary);
  border: none;
}

.log {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 2rem;
  top: 0;
  height: 5vh;
}

.aCarrito {
  display: flex;
  align-items: center;
}

.cantItemsCarrito {
  margin: 0 5px;
  height: 20px;
  width: 30px;
  border-radius: 10px;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  font-weight: 700;
}
